@font-face {
    font-family: 'fira-code-regular';
    src: url('../fonts/firacode-regular-webfont.woff2') format('woff2'),
         url('../fonts/firacode-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

html {
    font-size: 100%;
} 

body {
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #000000;
    font-weight: 400;
    line-height: 1.75;
    min-height: 100vh;
    background-color: yellow;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    font-family: 'fira-code-regular', monospace;
}

a {
    color: #000000;
}

header {
    padding: 1em 1em 0 1em;
}

.header-title {
    color: purple;
    margin: 0 auto;
    max-width: 1000px;
    font-size: 1rem;
    font-weight: bold;
}

main {
    width: 100%;
    padding: 1em;
    margin: 0 auto;
    display: block;
}

img {
    width: 100%;
    display: block;
    margin: 0 auto;
}

.row {
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2;
    min-height: 80px;
    position: relative;
}

.page-image {
    z-index: 9999;
    bottom: -35px;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) rotate(2deg);
        -ms-transform: translate(-50%, -50%) rotate(2deg);
            transform: translate(-50%, -50%) rotate(2deg);
    position: absolute;
    max-width: 1000px;
}

form {
    max-width: 425px;
    width: 100%;
    margin: 0 auto;
}

ul {
  list-style-type: none;
}

li {
  margin-bottom: .5em;
}

input {
    display: block;
}

label {
    display: block;
    color: #333333;
    font-size: 2rem;
    font-weight: bold;
    line-height: 20px;
    padding-left: 50px;
    vertical-align: middle;
    position: relative;
    margin-bottom: 1em;
}

label:last-of-type {
    margin-bottom: .5rem;
}

input[type="checkbox"] {
    height: 20px;
    -webkit-transform: scale(2);
        -ms-transform: scale(2);
            transform: scale(2);
    margin-right: 11px;
    position: absolute;
    top: 0;
    left: 8px;
}

input[type="number"] {
    height: 40px;
    font-size: 2rem;
    position: absolute;
    top: 0;
    left: 0;
}

.passwd-length {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.passwd-length-input {
    width: 100%;
}

.passwd-length-output {
    width: 65px;
    display: block;
    font-size: 2rem;
    text-align: center;
}

.password {
    width: 100%;
    padding: 1rem;
    font-size: 2rem;
    max-width: 1000px;
    font-weight: bold;
    overflow: hidden;
    text-align: center;
    letter-spacing: 2px;
    font-family: inherit;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis; 
    margin: 0 auto .5em auto;
    border: 6px solid;
    -o-border-image: -o-linear-gradient(left, purple, red) 10;
       border-image: -webkit-gradient(linear, left top, right top, from(purple), to(red)) 10;
       border-image: linear-gradient(90deg, purple, red) 10;
}

button {
    border: 0;
    width: 100%;
    height: 55px;
    display: block;
    margin: 0 auto;
    color: #FFFFFF;
    cursor: pointer;
    margin-top: .5em;
    margin-bottom: 1em;
    max-width: 425px;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: inherit;
    letter-spacing: 2.2px;
    text-transform: uppercase;
}

.copy-btn {
    color: blue;
    line-height: 50px;
    border-radius: 30px;
    border: 4px solid blue;
    background-color: yellow;
}

.generate-btn {
    line-height: 59px;
    border-radius: 30px;
    background-color: blue;
}

.diagonal {
    z-index: -1;
    width: 100%;
    height: 50px;
    background-image: -webkit-gradient(linear, right bottom, left top, color-stop(49.9%, #800080), color-stop(50.1%, yellow));
    background-image: -o-linear-gradient(bottom right, #800080 49.9%, yellow 50.1%);
    background-image: linear-gradient(to top left, #800080 49.9%, yellow 50.1%);
}

footer {
    height: 200px;
    display: block;
    margin-top: auto;
    background-color: purple;
    position: relative;
}

footer p {
    color: #FFFFFF;
    text-align: center;
    line-height: 150px;
    text-transform: uppercase;
    letter-spacing: 2.2px;
} 

footer p a {
    color: #FFFFFF;
    letter-spacing: 2.2px;
}
