@font-face {
    font-family: 'fira-code-regular';
    src: url('../fonts/firacode-regular-webfont.woff2') format('woff2'),
         url('../fonts/firacode-regular-webfont.woff') format('woff'),
         url('../fonts/firacode-regular-webfont.ttf')  format('truetype'),
         url('../fonts/firacode-regular-webfont.otf')  format('opentype');
    font-display: swap;
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

html {
    font-size: 100%;
} 

body {
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #000000;
    font-weight: 400;
    line-height: 1.75;
    min-height: 100vh;
    overflow-x: hidden;
    background-color: yellow;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    font-family: 'fira-code-regular', monospace;
}

a {
    color: #000000;
}

header {
    padding: 1em 1em 0 1em;
}

.header-title {
    color: purple;
    margin: 0 auto;
    max-width: 1000px;
    font-size: 1rem;
    font-weight: bold;
}

main {
    width: 100%;
    padding: 1em;
    margin: 0 auto;
    display: block;
    min-height: 650px;
}

img {
    width: 100%;
    display: block;
    margin: 0 auto;
}

.row {
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2;
    min-height: 80px;
    position: relative;
}

.page-image {
    left: 50%;
    z-index: 9999;
    bottom: -50px;
    min-width: 600px;
    max-width: 1000px;
    position: absolute;
    -webkit-transform: translate(-50%, -50%) rotate(2deg);
        -ms-transform: translate(-50%, -50%) rotate(2deg);
            transform: translate(-50%, -50%) rotate(2deg);
}

.copy-btn-box {
    display: flex;
    justify-content: center;
}

form {
    width: 100%;
    margin: 0 auto;
    max-width: 425px;
}

ul {
    list-style-type: none;
}

li {
    margin-bottom: .5em;
}

input {
    display: block;
}

label {
    display: block;
    color: purple;
    font-size: 2rem;
    font-weight: bold;
    line-height: 20px;
    padding-left: 50px;
    position: relative;
    margin-bottom: 1em;
}

label:last-of-type {
    margin-bottom: .5rem;
}

input[type="checkbox"] {
    top: 0;
    left: 8px;
    height: 20px;
    -webkit-transform: scale(2);
        -ms-transform: scale(2);
            transform: scale(2);
    margin-right: 11px;
    position: absolute;
}

input:checked {
    accent-color: purple;
}

input[type="number"] {
    top: 0;
    left: 0;
    height: 40px;
    font-size: 2rem;
    position: absolute;
}

.copy-svg-btn {
    width: 100px;
    height: 90px;
    cursor: pointer;
    background-image: url('../images/copy-btn.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.passwd-length {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.passwd-length-input {
    width: 100%;
    accent-color: purple;
}

.passwd-length-output {
    width: 65px;
    color: purple;
    display: block;
    font-size: 2rem;
    text-align: center;
}

.password-container {
    display: flex;
    border: 6px solid;
    max-width: 1000px;
    background-color: #FFFFFF;
    border: 6px solid purple;
    margin: 0 auto .5em auto;
}

.password {
    border: 0;
    width: 100%;
    padding: 1rem;
    color: purple;
    font-size: 2.5rem;
    font-weight: bold;
    overflow: hidden;
    text-align: center;
    letter-spacing: 2px;
    font-family: inherit;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis; 
}

button {
    border: 0;
    width: 100%;
    display: block;
    margin: 0 auto;
    color: #FFFFFF;
    cursor: pointer;
    margin-top: .5em;
    margin-bottom: 1em;
    max-width: 425px;
    font-size: 1.1rem;
    font-weight: bold;
    font-family: inherit;
    display: inline-flex;
    align-items: center; 
    justify-content: center;
    letter-spacing: 2.2px;
    text-transform: uppercase;
}

.copy-btn {
    color: purple;
    font-size: 1.5rem;
    line-height: 60px;
    border-radius: 35px;
   
    border: 4px solid purple;
    background-color: yellow;
}

.generate-btn {
    font-size: 1.5rem;
    line-height: 59px;
    border-radius: 30px;
    background-color: purple;
}

.diagonal {
    z-index: -1;
    width: 100%;
    height: 50px;
    background-image: -webkit-gradient(linear, right bottom, left top, color-stop(49.9%, #800080), color-stop(50.1%, yellow));
    background-image: -o-linear-gradient(bottom right, #800080 49.9%, yellow 50.1%);
    background-image: linear-gradient(to top left, #800080 49.9%, yellow 50.1%);
}

footer {
    height: 200px;
    display: block;
    margin-top: auto;
    background-color: purple;
    position: relative;
}

footer p {
    color: #FFFFFF;
    font-weight: bold;
    text-align: center;
    line-height: 150px;
    letter-spacing: 2.2px;
    text-transform: uppercase;
} 

footer p a {
    color: #FFFFFF;
    letter-spacing: 2.2px;
}
